.um-row {
    margin: 0;
}
.um-content {
    position: relative;  
}
#index .islider-dot-wrap {
    display: none;
}
.home-classify ,
.home-info {
    position: absolute;
    top: 10px;
    color: #ffffff;
}
.home-classify {
    left: 5px;
}
.home-info {
    right: 5px;
}
.um-input-search {
    margin: 0;
    position: absolute;
    top:102px;
    left: 0;
    background-color: rgba(0,0,0,.2);
    width: 100%;
}

.header-nav {
    border-bottom: 15px solid #c2c2c2;
}
.um-label-change {
    margin: 0;
    border-left: 4px solid red;
    padding-left: 10px;
}
#index .um-grid-row .classify-item {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#index .um-grid-row .classify-item:last-child {
    border-right: none;
}


